$containerWidth: 940px;
$baseFontSize: 16px;

//colors
$red–°itrus: #e01f3d;
$gray: #f5f5f5;
$black: #292929;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
@import "layout";

//components
@import "components/hero";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
