@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 650px;
}

.hero__title-section {
  width: 38%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url("../img/decor/BigBeats.png") right center/50% auto no-repeat;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 36px;
  padding-right: 10%;
  font-family: "Alegreya Sans", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  padding-right: 25px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Alegreya Sans", sans-serif;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 7px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 12px;
}

.feature__text {
  max-width: 114px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 18px 42px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  background-color: #e01f3d;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #ca1b36;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn--theme--transparent {
  background: transparent;
  text-transform: none;
  cursor: pointer;
  padding: 18px 16px;
}
.btn--theme--transparent:hover {
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #e01f3d;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 55px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 8px;
}

.headline__subtitle {
  padding: 0 22%;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/decor/separator.png");
  position: absolute;
  top: 60px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.benefit__desc {
  line-height: 1.16;
}

.benefits-section {
  border-bottom: 1px solid red;
  position: relative;
}
.benefits-section:before {
  content: url("../img/decor/decor1.png");
  position: absolute;
  top: -20px;
  right: 30%;
}
.benefits-section:after {
  content: url("../img/decor/decor2-triangle.png");
  position: absolute;
  bottom: -20px;
  left: 25%;
}

.reviews__display {
  background-color: #f8faf9;
  padding: 42px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 0;
     object-position: 30% 0;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 38px;
}

.reviews__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 22px;
}

.reviews__text {
  line-height: 1.2;
  padding-right: 60px;
  margin-bottom: 36px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 78px;
  height: 78px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #e01f3d;
}
.interactive-avatar:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.interactive-avatar__img:first-child {
  -o-object-position: 25% 0;
     object-position: 25% 0;
}

.order-section {
  background-color: #000;
  color: #fff;
  position: relative;
}
.order-section:before {
  content: url("../img/decor/Polygon.png");
  position: absolute;
  top: -20px;
  right: 25%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: solid 3px transparent;
  border-radius: 4px;
}
.form__input--textarea {
  height: 150px;
  resize: none;
  margin-bottom: 28px;
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.form__btns {
  margin-left: -5px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
  margin-top: -20px;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/tick.png") center center no-repeat;
}
.radio--checkbox .radio__title {
  margin-top: -20px;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #e01f3d;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  padding: 0 15px;
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item--active .fixed-menu__link:before {
  background: #e01f3d;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}