$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$red–°itrus: #e01f3d;
$gray: #f5f5f5;
$black: #292929;

//z-indexes
$z-fixed-menu: 100;

@import "media";

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Play:wght@400;700&display=swap");
@import "layout";

//components
@import "components/hero";
@import "components/header";
@import "components/menu";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/order-section";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";
@import "components/hamburger";
