.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(10px);
}

.benefit__icon {
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: rem(24px);
  font-weight: bold;
  margin-bottom: rem(5px);
}

.benefit__desc {
  line-height: 1.16;
}
