.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 18px 42px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  background-color: $redСitrus;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #ca1b36;
    transition: 0.5s;
  }

  &--theme--transparent {
    background: transparent;
    text-transform: none;
    cursor: pointer;
    padding: 18px 16px;

    &:hover {
      background-color: transparent;
      transition: 0.5s;
      color: $redСitrus;
    }
  }
}
