.btn {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(18px) rem(42px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  background-color: $redСitrus;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #ca1b36;
    transition: 0.5s;
  }

  &--theme--transparent {
    background: transparent;
    text-transform: none;
    cursor: pointer;
    padding: rem(18px) rem(16px);

    &:hover {
      background-color: transparent;
      transition: 0.5s;
      color: $redСitrus;
    }
  }
}
