.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(30px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(12px);
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(12px);
  border: solid rem(3px) transparent;
  border-radius: rem(4px);

  &--textarea {
    height: rem(150px);
    resize: none;
    margin-bottom: rem(28px);

    @include tablets {
      height: rem(82px);
      margin-bottom: rem(14px);
    }
  }

  &:focus {
    border-color: #e01f3d;
    outline: none;
  }

  @include tablets {
    padding: rem(7px) rem(12px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(40px);

  @include phones {
    justify-content: center;
  }
}

.form__btns {
  margin-left: rem(-5px);

  @include tablets {
    display: flex;
    justify-content: center;
  }
}

.form__title {
  margin-bottom: 8px;
}
