.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: rem(18px);
  padding-right: rem(25px);
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}
