.interactive-avatar {
  width: 78px;
  height: 78px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &--active {
    border-color: #e01f3d;
  }

  &:hover {
    transform: scale(105%);
    transition: 0.5s;
  }
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
.interactive-avatar__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;

  &:first-child {
    object-position: 25% 0;
  }
}
