.menu {
  margin: 0 30px;
  padding-top: 7px;
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Alegreya Sans", sans-serif;
}

.menu__item {
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }
}

.phone-number {
  // font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 7px;
}
.phone-number__icon {
  flex-shrink: 0;
}
.phone-number__icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}

.phone-number__text {
  white-space: nowrap;
}
.menu__link {
  text-decoration: none;
  white-space: nowrap;
}
