.products-slider {
  position: relative;
}

.product-slider__arrow {
  background: url("../img/icons/right.svg") center center no-repeat;
  background-size: contain;
  display: block;
  width: rem(24px);
  height: rem(40px);
  position: absolute;
  top: 50%;
  z-index: 10;

  &--direction--next {
    right: 0;
  }

  &--direction--prev {
    left: 0;
    transform: rotate(-180deg);
  }

  @include tablets {
    top: 20%;
  }
}
