.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  @include tablets {
    margin-bottom: rem(10px);
  }

  &--checkbox {
    .radio__visible {
      border-radius: rem(4px);
      margin-top: rem(-20px);

      &:before {
        background: url("../img/icons/tick.png") center center no-repeat;
      }
    }
    .radio__title {
      margin-top: rem(-20px);
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(26px);
  height: rem(26px);
  position: relative;
  border-radius: 50%;
  background: #fff;

  &:before {
    content: "";
    width: rem(14px);
    height: rem(14px);
    background: #e01f3d;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.radio__title {
  padding: 0 rem(15px);
}
